.git
.github
.gitignore
.dockerignore
.DS_Store

.env
.env.*
.venv
env
venv

__pycache__
*.py[cod]
*.egg-info
build
dist
.pytest_cache
.mypy_cache
.ruff_cache
.coverage*
htmlcov

*.db
*.db-*
*.sqlite
*.sqlite3
data

tests
docs
compose.yaml
